In [33]:
from main import MasterList,PurchaseTable,db,storeWithPandas

In [2]:
import pandas as pd

In [3]:
sheet = pd.read_excel('godrej.xlsx',skiprows=2)

In [4]:
sheet = sheet.fillna('')

In [5]:
sheet.head()

,Bill Number,Bill Mode,Bill Date,DSR Code,DSR Name,Route Code,Route Name,Retailer Code,Retailer Name,Net Amount,Bill Status
0,G099991800685,Credit,2018-05-28,SM01,MANOJ KUMAR,MIG004316,AICHER,G06,CALYFOX RETAILS PRIVATE LIMITED,4153,Delivered
1,G099991800918,Credit,2018-05-31,SM01,MANOJ KUMAR,MIG004317,ALPHA I AND II,1,KALIKA PROVISION STORE,5517,Delivered
2,G099991800919,Credit,2018-05-31,SM01,MANOJ KUMAR,MIG004317,ALPHA I AND II,167,KUMAR PROVISION STORE,2243,Delivered
3,G099991800920,Credit,2018-05-31,SM01,MANOJ KUMAR,MIG004317,ALPHA I AND II,100,TANEJA COSMETIC & GIFT SHOP,715,Delivered
4,G099991800921,Credit,2018-05-31,SM01,MANOJ KUMAR,MIG004317,ALPHA I AND II,3,AGGARWL KIRANA & GENERAL STORE,27168,Delivered

In [6]:
Purchases=[]

In [7]:
for row in sheet.itertuples():
    purchases = {}
    purchases['name'] = row[9]
    purchases['billvalue'] = row[10]
    Purchases.append(purchases)

In [8]:
for x in Purchases:
    print(x)

{'name': u'CALYFOX RETAILS PRIVATE LIMITED', 'billvalue': 4153}
{'name': u'KALIKA PROVISION STORE', 'billvalue': 5517}
{'name': u'KUMAR PROVISION STORE', 'billvalue': 2243}
{'name': u'TANEJA COSMETIC & GIFT SHOP', 'billvalue': 715}
{'name': u'AGGARWL KIRANA & GENERAL STORE', 'billvalue': 27168}
{'name': u'APNA STORE', 'billvalue': 1389}
{'name': u'HARIOM DEPARTMENTAL STORE', 'billvalue': 1393}
{'name': u'RATAN - MEDICOSE PVT. LTD.', 'billvalue': 1483}
{'name': u'Every Day Shopping Mart Pvt. Ltd.', 'billvalue': 8353}
{'name': u'MED POINT PHARMACY & COSMATICS', 'billvalue': 1471}
{'name': u'9 TO 9 MERCATO', 'billvalue': 5356}
{'name': u'MITTAL GENERAL  STORE', 'billvalue': 6644}
{'name': u'Soni Supermart', 'billvalue': 6498}
{'name': u'MAHENDRA TRADERS', 'billvalue': 184449}
{'name': u'SHOPPER  POINT', 'billvalue': 3047}
{'name': u'MITTAL & SONS', 'billvalue': 4212}
{'name': u'MAHAVIRA GENERAL STORE', 'billvalue': 6433}
{'name': u'OM RETAIL MART', 'billvalue': 19019}
{'name': u'MITTAL PROVISION STORE', 'billvalue': 2957}
{'name': u'JAI BHAWANI KIRANA STORE', 'billvalue': 1569}
{'name': u'SHRI SHYAM KIRANA STORE', 'billvalue': 2208}
{'name': u'LUXMI SUPER GENERAL STORE', 'billvalue': 3588}
{'name': u'BAJRANG SHOPPING CENTRE', 'billvalue': 4812}
{'name': u'VIJAY MEDICOS', 'billvalue': 919}
{'name': u'LONG LIFE MEDICOSE', 'billvalue': 644}
{'name': u'GOYAL SUPERMART', 'billvalue': 1142}
{'name': u'AGGARAWAL DEPARTMENTAL STORE', 'billvalue': 25089}
{'name': u'SHIV SHAKTI GENERAL STORE', 'billvalue': 1527}
{'name': u'MANGALA ARYA RETAIL AND ECOMMERCE', 'billvalue': 1002}

In [16]:
for x in Purchases:
            custid = -1
            getcustid = MasterList.query.filter_by(name=x['name']).first()
            if getcustid is not None:
                custid = getcustid.cust_id
            else:
#                 error_count += 1
                continue
            purchases = PurchaseTable(
                custid = custid,
                interface_code = 'GOD',
                billvalue = x['billvalue'],
                # billno = currentPurchase['billno'],
                date = '2018-06-01'
            )
            db.session.add(purchases)
#             success_count += 1
            db.session.commit()

In [19]:
conf = {'company':'god', 'name': 8, 'billvalue':9,'date':'2018-06-01'}

In [34]:
val = storeWithPandas('godrej.xlsx',conf)

TypeError: 'list' object is not callable

In [35]:
from main import storeWithPandas

TypeError: 'list' object is not callable

In [43]:
def storeWithPandas(filename,conf):
    success_count = 0
    error_count = 0
    sheet = pd.read_excel(filename,skiprows=2)
    sheet = sheet.fillna('')
    Purch = []
    company = conf["company"]
    date = conf["date"]
    for row in sheet.itertuples():
        purchases= {}
        purchases['name']=row[conf["name"]+1]
        purchases['billvalue']=row[conf["billvalue"]+1]
        Purch.append(purchases)
    for x in Purch:
            print(x)
            custid = -1
            getcustid = MasterList.query.filter_by(name=x['name']).first()
            if getcustid is not None:
                custid = getcustid.cust_id
            else:
                error_count += 1
                newError = ErrorPurchases(
                    name = x['name'],
                    interface_code = company.upper(),
                    billvalue = x['billvalue']
                ) 
                db.session.add(newError)
                db.session.commit()
                continue
            purchases = PurchaseTable(
                custid = custid,
                interface_code = company.upper(),
                billvalue = x['billvalue']
            )
            db.session.add(purchases)
            success_count += 1
            db.session.commit()
    return (success_count,error_count)

In [45]:
val = storeWithPandas('godrej.xlsx',conf)

{'name': u'CALYFOX RETAILS PRIVATE LIMITED', 'billvalue': 4153}
{'name': u'KALIKA PROVISION STORE', 'billvalue': 5517}
{'name': u'KUMAR PROVISION STORE', 'billvalue': 2243}
{'name': u'TANEJA COSMETIC & GIFT SHOP', 'billvalue': 715}
{'name': u'AGGARWL KIRANA & GENERAL STORE', 'billvalue': 27168}
{'name': u'APNA STORE', 'billvalue': 1389}
{'name': u'HARIOM DEPARTMENTAL STORE', 'billvalue': 1393}
{'name': u'RATAN - MEDICOSE PVT. LTD.', 'billvalue': 1483}
{'name': u'Every Day Shopping Mart Pvt. Ltd.', 'billvalue': 8353}
{'name': u'MED POINT PHARMACY & COSMATICS', 'billvalue': 1471}
{'name': u'9 TO 9 MERCATO', 'billvalue': 5356}
{'name': u'MITTAL GENERAL  STORE', 'billvalue': 6644}
{'name': u'Soni Supermart', 'billvalue': 6498}
{'name': u'MAHENDRA TRADERS', 'billvalue': 184449}
{'name': u'SHOPPER  POINT', 'billvalue': 3047}
{'name': u'MITTAL & SONS', 'billvalue': 4212}
{'name': u'MAHAVIRA GENERAL STORE', 'billvalue': 6433}
{'name': u'OM RETAIL MART', 'billvalue': 19019}
{'name': u'MITTAL PROVISION STORE', 'billvalue': 2957}
{'name': u'JAI BHAWANI KIRANA STORE', 'billvalue': 1569}
{'name': u'SHRI SHYAM KIRANA STORE', 'billvalue': 2208}
{'name': u'LUXMI SUPER GENERAL STORE', 'billvalue': 3588}
{'name': u'BAJRANG SHOPPING CENTRE', 'billvalue': 4812}
{'name': u'VIJAY MEDICOS', 'billvalue': 919}
{'name': u'LONG LIFE MEDICOSE', 'billvalue': 644}
{'name': u'GOYAL SUPERMART', 'billvalue': 1142}
{'name': u'AGGARAWAL DEPARTMENTAL STORE', 'billvalue': 25089}
{'name': u'SHIV SHAKTI GENERAL STORE', 'billvalue': 1527}
{'name': u'MANGALA ARYA RETAIL AND ECOMMERCE', 'billvalue': 1002}

In [46]:
val

(29, 0)